[submodule "polaris-build"]
	path = polaris-build
	url = ../../polaris-common/polaris-build
[submodule "polaris-messaging"]
	path = polaris-messaging
	url = ../../polaris-common/polaris-messaging.git
[submodule "polaris-common-db"]
	path = polaris-common-db
	url = ../../polaris-common/polaris-common-db.git
[submodule "polaris-utils"]
	path = polaris-utils
	url = ../../polaris-common/polaris-utils.git
[submodule "polaris-flask"]
	path = polaris-flask
	url = ../../polaris-common/polaris-flask.git
[submodule "polaris-graphql"]
	path = polaris-graphql
	url = ../../polaris-common/polaris-graphql.git
