[submodule "polaris-build"]
	path = polaris-build
	url = ../../polaris-common/polaris-build
[submodule "polaris-messaging"]
	path = polaris-messaging
	url = ../../polaris-common/polaris-messaging.git
[submodule "polaris-common-db"]
	path = polaris-common-db
	url = ../../polaris-common/polaris-common-db.git
